<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://experienceinfo-kpi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-am2-009.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>experienceinfo-kpi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$experienceinfo-kpi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataContract.SkillInfoContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:bv5zd1b46i.database.windows.net,1433;Initial Catalog=experieAfT8Icb5M;User ID=n893@bv5zd1b46i;Password=111111qQ" Name="Data Source=tcp:bv5zd1b46i.database.windows.net,1433;Initial Catalog=experieAfT8Icb5M;User Id=n893@bv5zd1b46i;Password=111111qQ" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataContract.SkillInfoContext, DataContract" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataContract.SkillInfoContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bv5zd1b46i.database.windows.net,1433;Initial Catalog=experieAfT8Icb5M;User Id=n893@bv5zd1b46i;Password=111111qQ</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>