<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://n893-kpi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-db3-005.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>n893-kpi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$n893-kpi</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sf8s5sdhof.database.windows.net,1433;Initial Catalog=n893kpiApTfkADUt;User ID=n893@sf8s5sdhof;Password=Shelter92" Name="Data Source=tcp:sf8s5sdhof.database.windows.net,1433;Initial Catalog=n893kpiApTfkADUt;User Id=n893@sf8s5sdhof;Password=Shelter92" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ExperienceInfo.Models.UsersContext, ExperienceInfo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataContract.SkillInfoContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:sf8s5sdhof.database.windows.net,1433;Initial Catalog=n893kpiApTfkADUt;User ID=n893@sf8s5sdhof;Password=Shelter92" Name="Data Source=tcp:sf8s5sdhof.database.windows.net,1433;Initial Catalog=n893kpiApTfkADUt;User Id=n893@sf8s5sdhof;Password=Shelter92" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataContract.SkillInfoContext, DataContract" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataContract.SkillInfoContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sf8s5sdhof.database.windows.net,1433;Initial Catalog=n893kpiApTfkADUt;User Id=n893@sf8s5sdhof;Password=Shelter92</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sf8s5sdhof.database.windows.net,1433;Initial Catalog=n893kpiApTfkADUt;User Id=n893@sf8s5sdhof;Password=Shelter92</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>