@{
    ViewBag.Title = "Welcome";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                If you are IT specialist - fill your professional skills @Html.ActionLink("here", "Index", "UserSkills").
            </p>
            <p>
                If you have manager account - you`re allowed to @Html.ActionLink("create & edit", "Index", "SkillManaging") skills, and @Html.ActionLink("search", "Index", "Search") for users that satisfy your requirements. 
            </p>
        </div>
    </section>
}
<h3>For any questions feel free to contact administration of the site via Email: kon0n@ukr.net</h3>
